*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
width: 100%;
height: 66px;
left: 0px;
top: 0px;
position: relative;

background: #002045;
}
.imgs{
  
position: absolute;
width: 26.14px;
height: 26.14px;
left: 192px;
top: 15.4px;

background: linear-gradient(135deg, #4EFFEA 2.5%, #001AFF 102.5%);
border-radius: 3px;

}
.ellipse{
    position: absolute;
width: 26.14px;
height: 26.14px;
left: 205.07px;
top: 25.86px;

color: conic-gradient(from 150.95deg at 50% 50%, #FF1F00 -29.05deg, #FFF500 158.62deg, #FF1F00 330.95deg, #FFF500 518.62deg);
box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
}
.shoppy{
    position: absolute;
width: 55px;
height: 18px;
left: 230px;
top: 14px;

font-family: 'Solway';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.plus{
    position: absolute;
width: 21px;
height: 12px;
left: 260px;
top: 34px;

font-family: 'Solway';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;


color: #FFB800;

}
.search{
    position: absolute;
    width: 582px;
    height: 31px;
    left: 349px;
    top: 18px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.backside{

    position: absolute;
width: 180px;
height: 12px;
left: 359px;
top: 27px;

font-family: 'Solway';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
color: rgba(0, 0, 0, 0.5);

}
.slaqsearch{

    position: absolute;
    Width: 15px;
    Height: 15px;
    Top: 26px;
    Left: 904px;
}
.krishna{
    position: absolute;
width: 47px;
height: 14px;
left: 978px;
top: 26px;

font-family: 'Solway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}
.vector{
    position: absolute;
    Width: 8.01px;
Height: 4px;
Top: 33px;
Left: 1028px;
color: #FFFFFF;
}
.more{
    position: absolute;
width: 30px;
height: 14px;
left: 1066px;
top: 26px;

font-family: 'Solway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;

}
.vector2{
    position:absolute;
Width: 8.01px;
Height:4px;
Top:33px;
Left: 1099px;

}
.saylak{
    position: absolute;
    Width: 11.29px;
Height: 9.18px;
Top: 26px;
Left: 1138px;
color: #FFFFFF;
}
.nkar2{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1141px;
    top: 19px;
    
    background: #2185D5;
    border: 0.5px solid #3A4750;
    border-radius: 3px;
}
.cart{
    position: absolute;
width: 27px;
height: 14px;
left: 1152px;
top: 26px;

font-family: 'Solway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}
.border2{
    position: absolute;
width: 100%;
height: 127px;
left: 0px;
top: 66px;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.mobilephoto{
    position: absolute;
width: 70px;
height: 70px;
left: 85px;
top: 84px;
}
.mobiles{
    position: absolute;
width: 45px;
height: 14px;
left: 98px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;

}
.fashionphoto{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 215px;
    top: 84px;
    

}
.fashion{
    position: absolute;
width: 45px;
height: 14px;
left: 228px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.electronicphoto{

    position: absolute;
    width: 70px;
    height: 70px;
    left: 345px;
    top: 84px;
    
}
.electronic{
    position: absolute;
    width: 66px;
    height: 14px;
    left: 347px;
    top: 163px;
    
    font-family: 'Solway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    color: #000000;
}
.homephoto{
    position: absolute;
width: 70px;
height: 70px;
left: 475px;
top: 84px;
}
.home{
    position: absolute;
    width: 34px;
height: 14px;
left: 493px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.appliancesphoto{
    position: absolute;
width: 71px;
height: 70px;
left: 605px;
top: 84px;
}
.appliances{
    position: absolute;
width: 64px;
height: 14px;
left: 608px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.travelphoto{
    position: absolute;
width: 70px;
height: 70px;
left: 735px;
top: 84px;

}
.travel{
    
position: absolute;
width: 37px;
height: 14px;
left: 751px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;

}
.toysphoto{
    
position: absolute;
width: 70px;
height: 70px;
left: 865px;
top: 84px;
}
.toys{
    position: absolute;
width: 27px;
height: 14px;
left: 886px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.furniturephoto{
    position: absolute;
width: 70px;
height: 70px;
left: 995px;
top: 84px;

}
.furniture{
    
position: absolute;
width: 56px;
height: 14px;
left: 1002px;
top: 163px;

font-family: 'Solway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.groceryphoto{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1125px;
    top: 84px;
    
}
.grocery{
    position: absolute;
    width: 47px;
    height: 14px;
    left: 1136px;
    top: 163px;
    
    font-family: 'Solway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    color: #000000;
}
.border3photo{
    position: absolute;
width: 1280px;
height: 200px;
left: 0px;
top: 198px;
}
.vector3{
    position: absolute;
    Width: 56px;
Height: 70px;
Top: 255px;
Left: 92px;
}
.shopy{
    position: absolute;
width: 12px;
height: 5px;
left: 114px;
top: 278px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 3px;
line-height: 4px;
color: #FFFFFF;
}
.BIG{
    position: absolute;
width: 26px;
height: 17px;
left: 107px;
top: 282px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;

color: #FFF500;

}
.SAVING{
    
position: absolute;
width: 39px;
height: 10px;
left: 101px;
top: 299px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 10px;
/* identical to box height, or 100% */


color: #FFF500;
}
.days{
    position: absolute;
width: 28px;
height: 10px;
left: 106px;
top: 308px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 10px;
/* identical to box height, or 100% */


color: #FFF500;
}
.iphone{
    position: absolute;
width: 324.95px;
height: 250px;
left: 130px;
top: 172px;
}
.iphonevector{
    position: absolute;
    Width: 33.5px;
Height: 40px;
Top: 215px;
Left: 563px;
}
.iphonetext1{
    position: absolute;
width: 240px;
height: 36px;
left: 465px;
top: 270px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
.iphonetext2{
    position: absolute;
width: 164px;
height: 18px;
left: 497px;
top: 298px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;

}
.iphonetext3{
    position: absolute;
    width: 205px;
    height: 17px;
    left: 478px;
    top: 323px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #6AFFED;

}
.applepay{
    position: absolute;
width: 249.6px;
height: 30px;
left: 455px;
top: 347px;


}
.iphone1{
    position: absolute;
width: 348px;
height: 20px;
left: 772px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;

}
.iphone2{
    position: absolute;
width: 350px;
height: 20px;
left: 772px;
top: 270px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.iphone3{
    position: absolute;
    width: 356px;
    height: 20px;
    left: 772px;
    top: 295px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.iphone4{
    position: absolute;
    width: 359px;
    height: 20px;
    left: 772px;
    top: 320px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

